
<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  >
  <ion-grid padding >
    <ion-row class="gutter-vertical-large"></ion-row>
      <ion-row>
          <ion-col>
              <ion-text class="ion-text-center" color="light">
                  <h1 class="text-center text-white heading-primary">Get-Started!</h1>
              </ion-text>
          </ion-col>
      </ion-row>

      <ion-row class="gutter-vertical-huge"></ion-row>

      <ion-row class="d-flex flex-column ion-justify-content-center">
          <ion-col>
            <div margin-bottom>
                <ion-label margin-bottom padding-bottom class="ion-text-center d-block label-primary">Enter your email</ion-label>
                <ion-input  
                  type="email"
                  [(ngModel)] = "email"
                  placeholder="email@example.com"
                  class="n7g-input m-auto mt-4"></ion-input>
                  <p *ngIf="showMessage" style="color : red">This email is not in invited list. Please contact admin for more info.</p>
                  <p *ngIf="emailExist" style="color : red">Email is already registered, try different email.</p>
            </div>
            <div margin-bottom>
                <ion-buttons class="m-auto mt-4 btn-primary"  (click) = "checkUserEmail()">Submit</ion-buttons>
                <ion-row class="gutter-vertical-medium"></ion-row>
                <ion-buttons class="m-auto mt-4 btn-primary" (click) ="goToSignin()">Already Registred, Sign In</ion-buttons>
            </div>
          </ion-col>
      </ion-row>
     
  </ion-grid>


</ion-content>
