.ion{
    &-content-wraper{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
   
}

  //override defaults

ion{
    &-header, &-toolbar{
        background: $color-secondary-shade;
    }

    &-content{
        background: $color-secondary;
        border-top: 3px solid $color-primary;
    }

    &-select{
        &-popover{
            background: $color-secondary;
            opacity: 1;
        }
    }

    &-header{
        .toolbar-background{
            background: $color-secondary-shade;
            background-position: center;
        }
    }

  }

  //override defaults
  .item-native{
    display: flex;
    flex-flow: column wrap;
    border:0;
  }

 .picker-wrapper.sc-ion-picker-md{
    background: $color-secondary;
  }

