.gutter{
    &-vertical{
        &-huge{
            margin:4vh 0;
        }
        &-large{
            margin:3vh 0;
        }
        &-medium{
            margin:2vh 0;
        }
        &-small{
            margin:1vh 0;
        }
    }
    
}