.heading-primary{
    font-size: 1.75rem;
    font-weight: 300;
}

.heading-secondary{
    font-size: 1.6rem;
    font-weight: 500;
}

.label-primary{
    font-size: 1.5rem;
    font-weight: 100;
}


