<ion-header>
    <ion-toolbar color="dark" class="text-center">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-text class="u-title-center"> My Attendence </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-list *ngIf = "showData">
    <ion-item *ngFor = "let attendence of attendenceRecord" color = "primary" (click) = "showDetail(attendence)">
       <ion-label >
         <h1 class="heading-primary m-0"> {{attendence.check_in_location }} -- {{attendence.check_out_location}} </h1>
         
         <p class="label-primary m-0" slot="end">{{attendence.check_in }} -- {{attendence.check_out }}</p>
       </ion-label>
    </ion-item>
  </ion-list>
  <ion-card *ngIf = "showMessage">
      <ion-card-content>
        <h2>No records :(</h2>
      </ion-card-content>
    </ion-card>
</ion-content>
