// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// SCSS variables
/** primary **/
$color-primary: #ba8609;
$color-primary-shade: darken($color-primary, 20);
$color-primary-tint: lighten($color-primary, 20);

/** secondary **/
$color-secondary: #292e35;
$color-secondary-shade: darken($color-secondary, 10);
$color-secondary-tint: lighten($color-secondary, 30);

/** tertiary **/
$color-tertiary: #414d5d;

/** success **/
$color-success: #10dc60;

/** warning **/
$color-warning: #ffce00;

/** danger **/
$color-danger: #f04141;

/** dark **/
$color-dark: #222428;

/** light **/
$color-light: #f4f5f8;



/** Ionic CSS Variables **/
:root {
 
  /** bg **/
  --ion-background-color: $color-dark;
  /** text **/
  --ion-text-color: #fff;

  /** primary **/
  --ion-color-primary: $color-primary;
  --ion-color-primary-rgb: rgb($color-primary);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: darken(--ion-color-primary, 20);
  --ion-color-primary-tint: lighten(--ion-color-primary, 20);

  /** secondary **/
  --ion-color-secondary: $color-secondary;
  --ion-color-secondary-rgb: rgba($color-secondary, 1);
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: darken(--ion-color-secondary, 5);
  --ion-color-secondary-tint: lighten(--ion-color-secondary, 30);

  /** tertiary **/
  --ion-color-tertiary: $color-tertiary;
  --ion-color-tertiary-rgb: rgba($color-tertiary, 1);
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: darken($color-tertiary, 5);
  --ion-color-tertiary-tint: lighten($color-tertiary, 20);

  /** success **/
  --ion-color-success: $color-success;
  --ion-color-success-rgb: rgba($color-success, 1);
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: darken($color-success, 15);
  --ion-color-success-tint: ligthen($color-success, 10);

  /** warning **/
  --ion-color-warning: $color-warning;
  --ion-color-warning-rgb: rgba($color-warning, 1);
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: darken( $color-warning, 15);
  --ion-color-warning-tint: lighten( $color-warning, 15);

  /** danger **/
  --ion-color-danger: $color-danger ;
  --ion-color-danger-rgb: rgba( $color-danger, 1);
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: darken( $color-danger, 15);
  --ion-color-danger-tint: lighten( $color-danger, 10);

  /** dark **/
  --ion-color-dark: $color-dark;
  --ion-color-dark-rgb: rgba($color-dark, 1);
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: darken($color-dark, 5);
  --ion-color-dark-tint: lighten($color-dark, 15);

  /** light **/
  --ion-color-light: $color-light;
  --ion-color-light-rgb: rgba($color-light, 1);
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: darken($color-light, 30);
  --ion-color-light-tint: lighten($color-light, 5);
}






// ionic variables
$color: (
  primary: $color-primary,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  dark: $color-dark,
  light: $color-light,
  transparent: transparent,
)
  