<ion-header >
  <ion-toolbar color="dark">
    <ion-title> 
        <ion-text > {{ title }} </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid padding >
    <form [formGroup] = "fg">

      <ion-row margin-bottom>
        <ion-col class="text-center">
            <ion-text class="heading-secondary"> Personal Details </ion-text>
        </ion-col>
      </ion-row>
      
      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary">Guard names</ion-label>
                <ion-input  
                  type="text"
                  name="name"  formControlName="name" required
                  placeholder="Guard names"
                  class="n7g-input m-0 mt-2"></ion-input>
                  <p *ngIf="fg.get('name').dirty && hasError('name', 'required')" style="color : red">Name is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
        <ion-col>
          <div>
              <ion-label margin-bottom class="label-primary">Surname</ion-label>
              <ion-input  
                type="text"
                placeholder="Surname"
                name="surname"  formControlName="surname" required
                class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('surname').dirty && hasError('surname', 'required')" style="color : red">Surname is required</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary">Email</ion-label>
                <ion-input  
                  type="email"
                  name="email"  formControlName="email" required
                  placeholder="Enter Your Email Adress"
                  class="n7g-input m-0 mt-2" disabled></ion-input>
            </div>
          </ion-col>
        </ion-row>

        <ion-row margin-bottom >
            <ion-col>
              <div>
                  <ion-label margin-bottom class="label-primary">Password</ion-label>
                  <ion-input  
                    type="password"
                    placeholder="Password"
                    name="password"  formControlName="password" required
                    class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('password').dirty && hasError('password', 'required')" style="color : red">Password is required</p>
              </div>
            </ion-col>
          </ion-row>

      <ion-row margin-bottom >
        <ion-col>
          <div class="w-100">
              <ion-item>
                <ion-label margin-bottom >Date of Birth</ion-label>
                <ion-datetime display-format="DD MMM, YYYY"  name="dob"  formControlName="dob" max="{{maxDateForDOB}}" required ></ion-datetime>

              </ion-item>
              
              <!-- <ion-input  
                type="date"
                placeholder="Date of Birth"
                name="dob"  formControlName="dob" required
                class="n7g-input m-0 mt-2"></ion-input> -->
                <p *ngIf="fg.get('dob').dirty && hasError('dob', 'required')" style="color : red">Date of Birth is required</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary">Address</ion-label>
                <ion-textarea  
                  type="text"
                  name="address"  formControlName="address" required
                  placeholder="Your Complete Address"
                  class="n7g-input m-0 mt-2"></ion-textarea>
                <p *ngIf="fg.get('dob').dirty && hasError('dob', 'required')" style="color : red">Date of Birth is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
        <ion-col>
          <div >
              <ion-label margin-bottom class="label-primary">Mobile Number</ion-label>
              <ion-input  
                type="number"
                placeholder="Enter Your Mobile Number"
                name="phone"  formControlName="phone" required
                class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('phone').dirty && hasError('phone', 'required')" style="color : red">Mobile Number is required</p>
          </div>
        </ion-col>
      </ion-row>



      <ion-row margin-bottom >
          <ion-col>
            <div >
                <ion-label margin-bottom class="label-primary">Next of Kin - Name</ion-label>
                <ion-input  
                  type="text"
                  name="nokName"  formControlName="nokName" required
                  placeholder="Kin's Name"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('nokName').dirty && hasError('nokName', 'required')" style="color : red">Next of kin name is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
        <ion-col>
          <div >
              <ion-label margin-bottom class="label-primary">Next of Kin - Contact Detail</ion-label>
              <ion-input  
                type="text"
                name="nokContact"  formControlName="nokContact" required
                placeholder="Kin's Contact Detail"
                class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('nokContact').dirty && hasError('nokContact', 'required')" style="color : red">Next of kin contact is required</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col class="gutter-vertical-small"></ion-col>
      </ion-row>

      <ion-row margin-bottom>
        <ion-col>
          <div  class="text-center">
              <ion-text class="heading-secondary"> Account Detail </ion-text>
          </div>
        </ion-col>
    </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                <ion-label margin-bottom class="label-primary"> Bank Name </ion-label>
                <ion-input  
                  type="text"
                  name="bank_name"  formControlName="bank_name" required
                  placeholder="Bank Name"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('bank_name').dirty && hasError('bank_name', 'required')" style="color : red">Bank name is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                <ion-label margin-bottom class="label-primary"> BSB </ion-label>
                <ion-input  
                  type="number"
                  name="bsb"  formControlName="bsb" required
                  placeholder="Bank-State-Branch number"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('bsb').dirty && hasError('bsb', 'required')" style="color : red">BSB is required</p>
            </div>
          </ion-col>
      </ion-row>
      

      <ion-row margin-bottom >
          <ion-col>
            <div >
                <ion-label margin-bottom class="label-primary"> Account Number </ion-label>
                <ion-input  
                  type="number"
                  name="account_number"  formControlName="account_number" required
                  placeholder="Bank Account Number"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('account_number').dirty && hasError('account_number', 'required')" style="color : red">Account number is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row >
          <ion-col class="gutter-vertical-small"></ion-col>
      </ion-row>

      <ion-row margin-bottom>
          <ion-col>
            <div  class="text-center">
                <ion-text class="heading-secondary"> Tax Details </ion-text>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                
                <div color="transparent" class="d-flex flex-column">
                    <ion-text margin-bottom class="label-primary"> Claim the tax-free threshold </ion-text>

                    <ion-list class="ml-n4" >
                        
                      <ion-radio-group  class="d-flex justify-content-between w-100" name="tax_free"  formControlName="tax_free" >      
                            <ion-item>
                              <ion-label>Yes</ion-label>
                              <ion-radio slot="start" value="1" checked></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>No</ion-label>
                              <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>
                    
                          </ion-radio-group>  
                      
                      <!-- <ion-item class="ml-n4">
                            <ion-radio class="d-none"  ng-value="'cheque'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4">Yes</ion-label>
                          </ion-item>
            
                          <ion-item>
                            <ion-radio class="d-none" ng-value="'TFN'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4" >No</ion-label>
                          </ion-item> -->

                    </ion-list>

                </div>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                
                <div color="transparent" class="d-flex flex-column">
                    <ion-text margin-bottom class="label-primary"> Australian resident for tax purposes </ion-text>

                    <ion-list class="ml-n4" >
                        <ion-radio-group class="d-flex justify-content-between w-100" name="residence"  formControlName="residence">      
                            <ion-item>
                              <ion-label>Yes</ion-label>
                              <ion-radio slot="start" value="1" checked></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>No</ion-label>
                              <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>
                    
                          </ion-radio-group>  
                          <p *ngIf="fg.get('residence').dirty && hasError('residence', 'required')" style="color : red">This field is required</p>
                      <!-- <ion-item class="ml-n4">
                            <ion-radio class="d-none"  ng-value="'cheque'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4">Yes</ion-label>
                          </ion-item>
            
                          <ion-item>
                            <ion-radio class="d-none" ng-value="'TFN'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4" >No</ion-label>
                          </ion-item> -->

                    </ion-list>

                </div>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                
                <div color="transparent" class="d-flex flex-column">
                    <ion-text margin-bottom class="label-primary"> Higher Education Loan Debt (HELP) </ion-text>

                    <ion-list class="ml-n4" >
                       
                      <ion-radio-group class="d-flex justify-content-between w-100" name="loan"  formControlName="loan">      
                            <ion-item>
                              <ion-label>Yes</ion-label>
                              <ion-radio slot="start" value="1"></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>No</ion-label>
                              <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>
                    
                          </ion-radio-group>   
                          <p *ngIf="fg.get('loan').dirty && hasError('loan', 'required')" style="color : red">This field is required</p>                      
                      <!-- <ion-item class="ml-n4">
                            <ion-radio class="d-none"  ng-value="'cheque'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4">Yes</ion-label>
                          </ion-item>
            
                          <ion-item>
                            <ion-radio class="d-none" ng-value="'TFN'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4" >No</ion-label>
                          </ion-item> -->

                    </ion-list>

                </div>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                
                <div color="transparent" class="d-flex flex-column">
                    <ion-text margin-bottom class="label-primary"> Financial Supplement debt </ion-text>

                    <ion-list class="ml-n4" >
                     
                        <ion-radio-group class="d-flex justify-content-between w-100" name="financial"  formControlName="financial">      
                            <ion-item>
                              <ion-label>Yes</ion-label>
                              <ion-radio slot="start" value="1"></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>No</ion-label>
                              <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>
                    
                          </ion-radio-group>  
                          <p *ngIf="fg.get('financial').dirty && hasError('financial', 'required')" style="color : red">This field is required</p>                     
                      <!-- <ion-item class="ml-n4">
                            <ion-radio class="d-none"  ng-value="'cheque'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4">Yes</ion-label>
                          </ion-item>
            
                          <ion-item>
                            <ion-radio class="d-none" ng-value="'TFN'" name="hiringOptions"></ion-radio>
                            <ion-label class="ml-4" >No</ion-label>
                          </ion-item> -->

                    </ion-list>

                  </div>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                <ion-label margin-bottom class="label-primary"> Additional Information </ion-label>
                <ion-input  
                  type="text"
                  name="additional_info"  formControlName="additional_info"
                  placeholder="Additional Information"
                  class="n7g-input m-0 mt-2"></ion-input>
            </div>
          </ion-col>
      </ion-row>

      <ion-row >
          <ion-col class="gutter-vertical-small"></ion-col>
      </ion-row>

      <ion-row margin-bottom>
          <ion-col>
            <div  class="text-center">
                <ion-text class="heading-secondary"> Superannuation </ion-text>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                <ion-label margin-bottom class="label-primary"> Name of Fund </ion-label>
                <ion-input  
                  type="text"
                  name="fund_name"  formControlName="fund_name" required
                  placeholder="Name of Fund"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('fund_name').dirty && hasError('fund_name', 'required')" style="color : red">Name of fund  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> Name of Account </ion-label>
                <ion-input  
                  type="text"
                  name="account_name"  formControlName="account_name" required
                  placeholder="Name of Account"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('account_name').dirty && hasError('account_name', 'required')" style="color : red">Account Name  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> Membership Number </ion-label>
                <ion-input  
                  type="number"
                  name="membership"  formControlName="membership" required
                  placeholder="Membership Number"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('membership').dirty && hasError('membership', 'required')" style="color : red">Membership number  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row >
          <ion-col class="gutter-vertical-small"></ion-col>
      </ion-row>

      <ion-row margin-bottom>
          <ion-col>
            <div  class="text-center">
                <ion-text class="heading-secondary"> Licence Details </ion-text>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> Security Licence Number </ion-label>
                <ion-input  
                  type="text"
                  name="security_licence"  formControlName="security_licence" required
                  placeholder="Security Licence Number"
                  class="n7g-input m-0 mt-2"></ion-input>
                <p *ngIf="fg.get('security_licence').dirty && hasError('security_licence', 'required')" style="color : red">Security licence number  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> Expiry Date </ion-label>
                <ion-datetime display-format="DD MMM, YYYY" name="securit_expiry" max="{{maxDateForLicence}}" formControlName="securit_expiry" required class="n7g-input m-0 mt-2"></ion-datetime>
                <!-- <ion-input  
                  type="date"
                  name="securit_expiry"  formControlName="securit_expiry" required
                  placeholder="Expiry Date"
                  class="n7g-input m-0 mt-2"></ion-input> -->
                <p *ngIf="fg.get('securit_expiry').dirty && hasError('securit_expiry', 'required')" style="color : red">Expiry date  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div >
                
                <div color="transparent" class="d-flex flex-column">
                    <ion-text  class="label-primary mr-3"> RSA/RSG (Tick only) </ion-text>

                    <ion-list class="ml-n4"  >
                       
                      <ion-radio-group class="d-flex justify-content-between" name="certificate"  formControlName="certificate" required>      
                            <ion-item>
                              <ion-label>RSA</ion-label>
                              <ion-radio slot="start" value="1"></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>RSG</ion-label>
                              <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>
                    
                          </ion-radio-group>   
                      
                      <!-- <ion-item class="ml-n4">
                            <ion-label >RSA</ion-label>
                            <ion-radio class="ml-4" ng-value="'rsa'" name="certificate"></ion-radio>
                          </ion-item>
            
                          <ion-item>
                            <ion-label >RSG</ion-label>
                            <ion-radio class="ml-4"  ng-value="'rsg'" name="certificate"></ion-radio>
                          </ion-item> -->
                          <p *ngIf="fg.get('certificate').dirty && hasError('certificate', 'required')" style="color : red">Certificate  is required</p>
                    </ion-list>

                  </div>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> Driver’s Licence Number </ion-label>
                <ion-input  
                  type="text"
                  name="driver_licence"  formControlName="driver_licence" required
                  placeholder="Driver’s Licence Number"
                  class="n7g-input m-0 mt-2"></ion-input>
                  <p *ngIf="fg.get('driver_licence').dirty && hasError('driver_licence', 'required')" style="color : red">Certificate  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> State </ion-label>
                <ion-input  
                  type="text"
                  name="state"  formControlName="state" required
                  placeholder="State"
                  class="n7g-input m-0 mt-2"></ion-input>
                  <p *ngIf="fg.get('state').dirty && hasError('state', 'required')" style="color : red">Certificate  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div>
                <ion-label margin-bottom class="label-primary"> Expiry Date </ion-label>
                <ion-datetime display-format="DD MMM, YYYY" name="driving_expiry"  max="{{maxDateForLicence}}" formControlName="driving_expiry" required class="n7g-input m-0 mt-2"></ion-datetime>
                <!-- <ion-input  
                  type="text"
                  name="driving_expiry"  formControlName="driving_expiry" required
                  placeholder="Expiry Date"
                  class="n7g-input m-0 mt-2"></ion-input> -->
                  <p *ngIf="fg.get('driving_expiry').dirty && hasError('driving_expiry', 'required')" style="color : red">Driving expiry  is required</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom >
          <ion-col>
            <div margin-bottom>
                <ion-label margin-bottom class="label-primary"> Notes </ion-label>
                <ion-textarea  
                  type="text"
                  name="note"  formControlName="note" 
                  placeholder="Notes"
                  class="n7g-input m-0 mt-2"></ion-textarea>
            </div>
          </ion-col>
      </ion-row>

      </form>
      <ion-row >
        <ion-col class="gutter-vertical-small"></ion-col>
      </ion-row>
      <ion-row margin-bottom >
          <ion-col>
            <ion-buttons class="m-auto mt-4 btn-primary" (click) = "register()"  value = "Submit">Submit</ion-buttons>
          </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>
