
<ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding >
    <ion-grid padding >
      <ion-row class="gutter-vertical-large"></ion-row>

        <ion-buttons class="m-auto mt-4 btn-primary" (click) ="goToGetStarted()">Get Started</ion-buttons>
        <ion-row class="gutter-vertical-huge"></ion-row>
        <ion-buttons class="m-auto mt-4 btn-primary" (click) ="goToSignin()">Sign In</ion-buttons>

    </ion-grid>
  </ion-content>
  