@import "src/theme/variables.scss";

.message{
    padding: .5rem;
    border-radius: 3px;
    &-head{
        color: $color-dark;
        margin:0;
    }
    &-guard{
        background: lighten($color-dark, 15);
        color: $color-light;
    }
    &-employee{
        background: darken($color-light, 15);
        color: $color-dark;
    }
    .font-weight-light{
        font-size: 10px;
    }
}