<ion-header >
    <ion-toolbar class="text-center">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> 
          <ion-text class="u-title-center"> {{ title }} </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding>

    <ion-grid padding >

        <ng-container *ngIf = "showData">
                <ion-row margin-bottom  *ngFor = "let chat of chatList">
                        <ion-col >
                          <div [ngClass] = "{'message message-employee' : chat.user.user_type === 'user', 'message message-guard' : chat.user.user_type === 'admin'}">
                              {{chat.body}}
                              <p slot= "end">{{chat.timestamp | date : 'short'}}</p>
                          </div>
                        </ion-col>
                    </ion-row>
        </ng-container>
    

        <ion-row *ngIf = "!showData">
            <p>No Chat Yet</p>
        </ion-row>

        <!-- <ion-row margin-bottom>
            <ion-col>
              <div class="message message-employee">
                  <p class="message-head">54367652342</p>

                  Integer consectetur libero non purus consectetur fermentum. 
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-guard">
                  <p class="message-head">123234354</p>

                  Message from graud. 
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-employee">
                  <p class="message-head">3432546546</p>
                  message from employee
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-guard">
                  <p class="message-head">4554657568678</p>

                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate repellat dicta deleniti ex recusandae.
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-employee">
                  <p class="message-head">4546546456</p>

                laborum provident, magnam voluptate ad reprehenderit distinctio unde officiis?
              </div>
            </ion-col>
        </ion-row> -->


    </ion-grid>

</ion-content>
