<ion-header >
    <ion-toolbar class="text-center">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ml-n4"> {{ title }} </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding>

    <ion-grid padding >

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-guard">
                <p class="message-head">10230104054</p>
                  Integer consectetur libero non purus consectetur fermentum. 
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-employee">
                  <p class="message-head">54367652342</p>

                  Integer consectetur libero non purus consectetur fermentum. 
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-guard">
                  <p class="message-head">123234354</p>

                  Message from graud. 
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-employee">
                  <p class="message-head">3432546546</p>
                  message from employee
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-guard">
                  <p class="message-head">4554657568678</p>

                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate repellat dicta deleniti ex recusandae.
              </div>
            </ion-col>
        </ion-row>

        <ion-row margin-bottom>
            <ion-col>
              <div class="message message-employee">
                  <p class="message-head">4546546456</p>

                laborum provident, magnam voluptate ad reprehenderit distinctio unde officiis?
              </div>
            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>
