<ion-header>
  <ion-toolbar class="text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
        <ion-text class="u-title-center"> {{ title }} </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
        {{userData.name}} {{userData.surname}}
    </ion-item>
    <ion-item>
      {{userData.email}}
    </ion-item>
    <ion-item>
      {{userData.mobile}}
    </ion-item>
    <ion-item>
      {{userData.address}}
    </ion-item>
    <ion-item>
      {{userData.dob}}
    </ion-item>
    <ion-item>
      {{userData.nok_name}}
    </ion-item>
    <ion-item>
      {{userData.nok_contact}}
    </ion-item>
  </ion-list>
</ion-content>
