<ion-header >
    <ion-toolbar color="dark" class="text-center">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class=""> 
          <ion-text class="u-title-center"> {{ title }} </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-grid padding >

      <ion-row margin-bottom>
          <ion-col>
            <div margin-bottom>
              <ion-text>
                <h1 class="heading-primary m-0">
                    Hello!  {{ userData.name }}
                </h1>
              </ion-text>
              <ion-text margin-bottom >
                <h1 class="label-primary m-0">
                   {{currentDate | date : 'medium'}}
                </h1>
              </ion-text>
            </div>
          </ion-col>
      </ion-row>


      <ion-row margin-bottom>
          <ion-col>
            <div margin-bottom>
              <ion-text>
                <h1 class="heading-secondary m-0">
                    Job Location
                </h1>
              </ion-text>
              <ion-text margin-bottom >
                <h1 class="label-primary m-0" *ngIf = "showData">
                    {{ jobDetail.job_location }}
                </h1>
                <h1 class="label-primary m-0" *ngIf = "!showData">
                  Job location not set yet
              </h1>
              </ion-text>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom>
          <ion-col>
            <div margin-bottom>
              <ion-text>
                <h1 class="heading-secondary m-0">
                    Job Timings
                </h1>
              </ion-text>
              <ion-text margin-bottom >
                <h1 class="label-primary m-0" *ngIf = "showData">
                    {{ jobDetail.start_time }} -- {{ jobDetail.end_time}}
                </h1>
                <h1 class="label-primary m-0" *ngIf = "!showData">
                  Job timing not set yet
              </h1>
              </ion-text>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom *ngIf = "!checkInComplteted">
          <ion-col>
            <div margin-bottom >
              <ion-text>
                <h1 class="heading-secondary m-0">
                    Status
                </h1>
              </ion-text>
              <ion-text margin-bottom>
                <h1 class="label-primary text-danger font-weight-light m-0" *ngIf = "!checkedIn && !checkInComplteted">
                    Not checked In
                </h1>
                <h1 class="label-primary text-primary font-weight-light m-0" *ngIf = "checkedIn && !checkInComplteted">
                   Checked In
              </h1>
              </ion-text>
            </div>
          </ion-col>
      </ion-row>

      <ion-row margin-bottom *ngIf = "checkInComplteted && checkInDetail">
        <ion-col>
          <div margin-bottom>
            <ion-text>
              <h1 class="heading-secondary m-0">
                  Checkin Detail
              </h1>
            </ion-text>
            <ion-text margin-bottom >
              <h1 class="label-primary m-0" >
                  {{ checkInDetail.check_in  }} -- {{ checkInDetail.check_out }}
              </h1>
            </ion-text>
          </div>
        </ion-col>
    </ion-row>


      <ion-row class="gutter-vertical-huge"></ion-row>

      <ion-row margin-bottom>
          <ion-col>
              <ion-buttons class="m-auto mt-4 btn-primary" *ngIf = "!checkedIn && !checkInComplteted" (click) ="checkInUser()">Check In</ion-buttons>
              <ion-buttons class="m-auto mt-4 btn-primary" *ngIf = "checkedIn && !checkInComplteted" (click) = "checkoutUser()">Check Out</ion-buttons>
          </ion-col>
      </ion-row>




  </ion-grid>
</ion-content>