<ion-header>
  <ion-toolbar color="dark" class="text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text class="u-title-center"> Your Jobs </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="job-history">
        <ion-label>History</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="job-schedule">
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
